<section id="header">
  <nav class="navbar navbar-expand-lg navbar-light container">
    <div class="container">
      <a class="navbar-brand" href="javascript:0;">
        <img src="assest/images/logo.png" alt="Lawliet logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu"
        aria-controls="offcanvasMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- offcanvas -->
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasMenuLabel">
            <img src="assest/images/logo.png" alt="logo">
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body justify-content-end">
          <ul class="navbar-nav align-items-center text-uppercase">
            <li class="nav-item mx-4">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li class="nav-item mx-4">
              <a class="nav-link" href="#testimonials">Testimonials</a>
            </li>
            <li class="nav-item mx-4">
              <a class="nav-link" href="#services">About</a>
            </li>
            <li class="nav-item mx-4">
              <a class="nav-link" href="#">Terms</a>
            </li>
            <li class="nav-item d-none d-lg-block px-3">
              <i class="bi bi-search"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</section>
<section id="hero">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <article class="col-12 col-sm-12 col-md-12 col-lg-6">
        <div class="alert alert-info rounded-pill py-2 ps-2 pe-4 mt-3">
          <span class="badge rounded-pill text-bg-primary py-2 px-4">New</span>
          Stay connected to the upcoming &amp; Recent jobs
        </div>
        <h1 class="display-1 fw-bold mb-5">Your Solution Legal Consultacy</h1>
        <p class="col-12 col-lg-9 fs-3 mt-5 p-2">We are here to help you take care of your legality with the best service especially for you.</p>
        <button type="button" class="btn text-uppercase text-light col-5 col-lg-4 py-4">Get Started</button>
      </article>
      <div class="col-lg-2"></div>
      <div class="d-none d-lg-block col-lg-4">
        <img class="mw-100" src="assest/images/hero-image.png" alt="girl photo">
      </div>
    </div>
  </div>
</section>
<section id="services">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-1"></div>
      <div class="col-12 col-lg-4">
        <h2 class="fw-bold display-5">Why do we help with legalization?</h2>
        <p class="fs-4 px-1">We are here for UMKM in Indonesia to carry out the legalization process, which is sometimes complicated.</p>
      </div>
      <div class="col-lg-1"></div>
      <div class="d-flex flex-wrap gap-4 col-12 col-lg-6">
        <div class="box rounded-3 col-12 col-lg-5 flex-grow-1 p-4">
          <img src="assest/images/icon-circles.png" alt="icon-circles">
          <h3 class="mt-3 mb-2">Enviromental Law</h3>
          <p>Environmental legal issues might occur since the planned business activities are designed</p>
        </div>
        <div class="box rounded-3 col-12 col-lg-5 flex-grow-1 p-4">
          <img src="assest/images/icon-bag.png" alt="icon-bag">
          <h3 class="mt-3 mb-2">Corporate and Commercial</h3>
          <p>We provide a complete range of services for the continuity of your business activities.</p>
        </div>
        <div class="box rounded-3 col-12 col-lg-5 flex-grow-1 p-4">
          <img src="assest/images/icon-rocket.png" alt="icon-rocket">
          <h3 class="mt-3 mb-2">Information and Technology</h3>
          <p>IT not followed by the existing regulation which might cause legal uncertainty and business uncertainty.</p>
        </div>
        <div class="box rounded-3 col-12 col-lg-5 flex-grow-1 p-4">
          <img src="assest/images/icon-users.png" alt="icon-users">
          <h3 class="mt-3 mb-2">Other Services</h3>
          <p>In dealing with disruptive economic and legal challenge, our firm also provide various legal services.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="records" class="text-light">
  <div class="container text-center">
    <h2 class="display-4">Some count that matters</h2>
    <p class="fs-4 mb-5">Our achievement in the journey depicted in numbers</p>
    <div class="numbers d-flex flex-wrap align-items-center justify-content-center">
      <div class="box d-flex flex-column col-10 col-lg-3 mb-3">
        <strong class="display-5 fw-bold">30</strong>
        <span class="fs-4">Clients</span>
      </div>
      <div class="box d-flex flex-column col-10 col-lg-3 border-end border-start mb-3">
        <strong class="display-5 fw-bold">300+</strong>
        <span class="fs-4">Taken business legalities</span>
      </div>
      <div class="box d-flex flex-column col-10 col-lg-3 mb-3">
        <strong class="display-5 fw-bold">8</strong>
        <span class="fs-4">Years of Journey</span>
      </div>
    </div>
  </div>
</section>
<section id="testimonials">
  <div class="container">
    <h2 class="mb-5 display-4 fw-bold text-center">Clients Testimonial</h2>
    <div class="row">
      <!-- <div class="col-lg-1"></div> -->
      <article class="col-12 col-lg-6 mb-4">
        <div class="review p-4 rounded-3 mb-5 text-center">
          <h3>Incredible Experience</h3>
          <p>We had an incredible experience working with Landify and were impressed they made such a big difference in only three weeks. Our team is so grateful for the wonderful improvements they made and their ability to get familiar with the concept so quickly.</p>
        </div>
        <div class="user-details d-flex justify-content-center">
          <img src="assest/images/testimonials-avatar.png" alt="user photo">
          <div class="user-info ms-3">
            <h3>Anya Tailor Joy</h3>
            <span>CEO, SF Industires</span>
          </div>
        </div>
      </article>
      <article class="col-12 col-lg-6 mb-4">
        <div class="review p-4 rounded-3 mb-5 text-center">
          <h3>Dependable, Responsive, Professional Partner</h3>
          <p>Fermin Apps has collaborated with Landify team for several projects such as Photo Sharing Apps and Custom Social Networking Apps. The experience has been pleasant, professional and exceeding our expectations. </p>
        </div>
        <div class="user-details d-flex justify-content-center">
          <img src="assest/images/testimonials-avatar.png" alt="user photo">
          <div class="user-info ms-3">
            <h3>Sri Alam</h3>
            <span>CEO, Membagongkan GROUP</span>
          </div>
        </div>
      </article>
      <!-- <div class="col-lg-1"></div> -->
    </div>
  </div>
</section>
<section id="contact">
  <div class="container">
    <div class="row">
      <article class="col-12 col-lg-8 px-4">
        <h2 class="mb-5 display-4 fw-bold">Complex Questions?</h2>
        <p>Request for a personalized budget for your legal problem. We will send you a coupe options in 24 hours. You can have free consult , if a our first customer</p>
        <button type="button" class="btn text-light col-5 col-sm-3 col-md-3 col-lg-2 py-2">
          <a class="text-light text-decoration-none" href="tel:+1234567890"><i class="bi bi-telephone-fill me-2"></i>Call now</a>
        </button>
      </article>
      <div class="col-12 col-lg-4 d-none d-lg-block px-4">
        <img class="mw-100" src="assest/images/contact-img.png" alt="contact">
      </div>
    </div>
  </div>
</section>
<footer>
  <section id="footer-body">
    <div class="container">
      <div class="row">
        <div class="footer-logo col-12 col-md-5 col-lg-6 mb-5">
          <img src="assest/images/logo-white.png" alt="footer logo">
        </div>
        <div class="footer-links col-12 col-md-7 col-lg-6">
          <div class="row">
            <div class="footer-link col-4 col-lg-3">
              <h3 class="text-light mb-5">Product</h3>
              <a class="d-block text-light text-decoration-none my-2" href="javascript:0;">Overview</a>
              <a class="d-block text-light text-decoration-none my-2" href="javascript:0;">Features</a>
              <a class="d-block text-light text-decoration-none my-2" href="javascript:0;">Tutorials</a>
              <a class="d-block text-light text-decoration-none my-2" href="javascript:0;">Pricing</a>
              <a class="d-block text-light text-decoration-none my-2" href="javascript:0;">Releases</a>
            </div>
            <div class="footer-link col-4 col-lg-3">
              <h3 class="text-light mb-5">Company</h3>
              <a class="d-block text-light text-decoration-none my-2" href="javascript:0;">About</a>
              <a class="d-block text-light text-decoration-none my-2" href="javascript:0;">Press</a>
              <a class="d-block text-light text-decoration-none my-2" href="javascript:0;">Careers</a>
              <a class="d-block text-light text-decoration-none my-2" href="javascript:0;">Contact</a>
              <a class="d-block text-light text-decoration-none my-2" href="javascript:0;">Partners</a>
            </div>
            <div class="footer-link col-4 col-lg-3">
              <h3 class="text-light mb-5">Support</h3>
              <a class="d-block text-light text-decoration-none my-2" href="javascript:0;">Help Center</a>
              <a class="d-block text-light text-decoration-none my-2" href="javascript:0;">Terms of service</a>
              <a class="d-block text-light text-decoration-none my-2" href="javascript:0;">Legal</a>
              <a class="d-block text-light text-decoration-none my-2" href="javascript:0;">Privacy Policy</a>
              <a class="d-block text-light text-decoration-none my-2" href="javascript:0;">Status</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="copy-write" class="py-3">
    <div class="container">
      <div class="row">
        <p class="col-12 my-2 col-md-6 text-light">&copy; 2021 Lawliet. All rights reserved</p>
        <div class="col-12 my-2 col-md-6 row justify-content-end">
          <a class="col-1 text-light" href="javascript:0;">
            <i class="bi bi-instagram social-icon p-2 rounded-circle"></i>
          </a>
          <a class="col-1 text-light" href="javascript:0;">
            <i class="bi bi-dribbble social-icon p-2 rounded-circle"></i>
          </a>
          <a class="col-1 text-light" href="javascript:0;">
            <i class="bi bi-twitter social-icon p-2 rounded-circle"></i>
          </a>
          <a class="col-1 text-light" href="javascript:0;">
            <i class="bi bi-youtube social-icon p-2 rounded-circle"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<router-outlet></router-outlet>
